{{ define "main" }}

<section id="article">
    <h1 class="title">{{ .Title }}</h1>
    <h3 class="description">{{ .Description }}</h3>

    <div class="meta">
        <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time>
        <span class="separator">
          ·
        </span>
        <span>
          {{ i18n "wordCount" . }}
        </span>
        <span class="separator">
          ·
        </span>
        <span>
          {{ i18n "minuteRead" . }}
        </span>
        {{ if $.Site.Params.editUrl }}
        <span class="separator">
          ·
        </span>
        <a class="edit-url" href="{{ $.Site.Params.editUrl | absURL }}/content/{{ .File.Path }}" target="_blank" rel="noopener">
          Edit this article
        </a>
        {{ end }}
    </div>

    <div class="content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
</section>

{{ end }}
