:root {
    --accent-color: #8f2d56;
    --accent-color-light: #d81159;
    --text-primary: #0a0908;
    --text-secondary: #22333b;
    --background: #ffffff;
    --background-secondary: #f6fff8;
    --border: #6c757d;

    --line-height-scalar: 2;

    --space-base: 1.5rem;

    --space-page-width: calc(var(--space-base) * 64);
    --space-page-vertical: calc(var(--space-base) * 2);

    --space-content-vertical: calc(var(--space-base) * 3);
}
