<footer id="footer">
  {{ if .Site.Social }}
  {{ partial "social.html" . }}
  {{ end }}

  <div class="copyright">
    <span>
       {{ .Site.Copyright }} {{ now.Format "2006"}}
    </span>
    <span class="split">
        {{ partial "svgs/heart.svg" (dict "fill" "#bbbbbb" "width" 15 "height" 15 ) }}
     </span>
    <span>
      {{ .Site.Author.name }}
    </span>
  </div>

</footer>

{{ range .Site.Params.customJS }}
{{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}
<!-- remote js -->
<script src="{{ . }}"></script>
{{ else }}
<!-- local js -->
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
{{ end }}
